version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_API_BASE_URL: ${VITE_API_BASE_URL}
        VITE_STORAGE_PUBLIC_URL: ${VITE_STORAGE_PUBLIC_URL}
    ports:
      - '4173:4173'
    environment:
      VITE_API_BASE_URL: ${VITE_API_BASE_URL}
      VITE_STORAGE_PUBLIC_URL: ${VITE_STORAGE_PUBLIC_URL}
    restart: unless-stopped
